# =====================================================
# API MESSAGING - CONFIGURACIÓN DE DESPLIEGUE (EJEMPLO)
# =====================================================

# ENTORNO
APP_ENV=production
APP_VERSION=1.0.0

# SERVIDOR HTTP (Spring Boot)
SERVER_PORT=9000
SERVER_CONTEXT_PATH=/

# BASE DE DATOS
DATABASE_PROVIDER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=as_app_messaging
DB_SCHEMA=as_app_messaging
DB_DATABASE=as_app_messaging
DB_USER=CHANGE_ME_DB_USER
DB_PASSWORD=CHANGE_ME_DB_PASSWORD


# RABBITMQ
RABBITMQ_ENABLED=true
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=CHANGE_ME_RABBITMQ_USER
RABBITMQ_PASSWORD=CHANGE_ME_RABBITMQ_PASSWORD
RABBITMQ_VHOST=/

# SEGURIDAD JWT
JWT_SECRET=CHANGE_ME_JWT_SECRET
APP_SECURITY_APP_TOKEN=CHANGE_ME_APP_TOKEN
APP_SECURITY_APP_TOKEN_HEADER=X-App-Token
APP_SECURITY_APP_SCOPE_HEADER=X-Scope-Id

# LOGS
LOGGING_LEVEL_ROOT=warn
LOGGING_LEVEL_COM_drey=info

# CONFIGURACIÓN DE LA APLICACIÓN
APP_API_BASE_PATH=/api/v1/messaging
APP_SCHEDULER_ENABLED=true
APP_ASSETS_BASE_URL=https://storage-api.drey.com/arcadion-realm/assets/enterprise
APP_EMAIL_FROM_EMAIL=no-reply@drey.com
APP_EMAIL_FROM_NAME=drey
SMTP_ENABLED=true
SENDGRID_ENABLED=false

# SMTP (Zoho Mail)
MAIL_HOST=smtp.zoho.com
MAIL_PORT=587
MAIL_USERNAME=CHANGE_ME_SMTP_USERNAME
MAIL_PASSWORD=CHANGE_ME_SMTP_PASSWORD
MAIL_SMTP_SSL_ENABLE=false

# BIRD.COM CONFIGURATION
BIRD_API_ACCESS_KEY=CHANGE_ME_BIRD_API_ACCESS_KEY
BIRD_WORKSPACE_ID=1703a446-f76d-4de6-bcba-c564826fcd95
BIRD_CHANNEL_SMS=52e1b56d-5932-52cb-9cd9-7868017bef2f
BIRD_CHANNEL_WHATSAPP=708525ee-c3f4-5f89-b61a-b5b5cd35c9d0
